Node-Red-Flows.json
[{"id":"813ba150.0dc04","type":"tab","label":"Auto AI ","disabled":false,"info":""},{"id":"1cca5c62.402f24","type":"inject","z":"813ba150.0dc04","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"string","repeat":"","crontab":"","once":false,"x":180,"y":260,"wires":[["e21b03e1.c59c8"]]},{"id":"e028d28.d87b53","type":"ui_form","z":"813ba150.0dc04","name":"","label":"","group":"85ccccea.ee8ef","order":0,"width":0,"height":0,"options":[{"label":"country","value":"c","type":"text","required":true,"rows":null},{"label":"year","value":"ye","type":"number","required":true,"rows":null},{"label":"status","value":"stat","type":"text","required":true,"rows":null},{"label":"adult mortality","value":"am","type":"number","required":true,"rows":null},{"label":"infant deaths ","value":"id","type":"number","required":true,"rows":null},{"label":"alcohol ","value":"a","type":"number","required":true,"rows":null},{"label":"percentage expenditure ","value":"pe","type":"number","required":true,"rows":null},{"label":"hepatitis b ","value":"hb","type":"number","required":true,"rows":null},{"label":"measles ","value":"m","type":"number","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"u5","type":"number","required":true,"rows":null},{"label":"polio ","value":"pol","type":"number","required":true,"rows":null},{"label":"total expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"diphtheria ","value":"d","type":"number","required":true,"rows":null},{"label":"hiv/aids","value":"hiv","type":"number","required":true,"rows":null},{"label":"gdp ","value":"gdp","type":"number","required":true,"rows":null},{"label":"population ","value":"pop","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years ","value":"t119","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years ","value":"t59","type":"number","required":true,"rows":null},{"label":"income composition of resources","value":"icor","type":"number","required":true,"rows":null},{"label":"schooling ","value":"s","type":"number","required":true,"rows":null}],"formValue":{"c":"","ye":"","stat":"","am":"","id":"","a":"","pe":"","hb":"","m":"","bmi":"","u5":"","pol":"","te":"","d":"","hiv":"","gdp":"","pop":"","t119":"","t59":"","icor":"","s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":340,"wires":[["e21b03e1.c59c8"]]},{"id":"e21b03e1.c59c8","type":"function","z":"813ba150.0dc04","name":"PreToken","func":"global.set(\"c\",msg.payload.c)\nglobal.set(\"y\",msg.payload.ye)\nglobal.set(\"stat\",msg.payload.stat)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"a\",msg.payload.a)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"u5\",msg.payload.u5)\nglobal.set(\"pol\",msg.payload.pol)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"t119\",msg.payload.t119)\nglobal.set(\"t59\",msg.payload.t59)\nglobal.set(\"icof\",msg.payload.icof)\nglobal.set(\"s\",msg.payload.s)\nvar apikey = \"peipLWy3RAxRHH5huSlVrL5lt1UnjcYOUWQuKNe9LdUe\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["77670137.868c8"]]},{"id":"77670137.868c8","type":"http request","z":"813ba150.0dc04","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":460,"wires":[["2aac1780.7611f8","d3a7b51d.0573b8"]]},{"id":"2aac1780.7611f8","type":"debug","z":"813ba150.0dc04","name":"","active":true,"console":"false","complete":"false","x":430,"y":540,"wires":[]},{"id":"d3a7b51d.0573b8","type":"function","z":"813ba150.0dc04","name":"Pre Prediction","func":"var c = global.get('c')\nvar ye = global.get('ye')\nvar stat = global.get('stat')\nvar am = global.get('am')\nvar id = global.get('id')\nvar a = global.get('a')\nvar pe = global.get('pe')\nvar hb = global.get('hb')\nvar m = global.get('m')\nvar bmi = global.get('bmi')\nvar u5 = global.get('u5')\nvar pol = global.get('pol')\nvar te = global.get('te')\nvar d = global.get('d')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar pop = global.get('pop')\nvar t119 = global.get('t119')\nvar t59 = global.get('t59')\nvar icor = global.get('icor')\nvar s = global.get('s')\nvar token=msg.payload.access_token\nvar instance_id=\"be403ae7-2fbd-4273-b182-9327078b349d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[c, ye, stat, am, id, a, pe, hb, m, bmi, u5, pol, te, d, hiv, gdp, pop, t119, t59, icor, s]]}]}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["d6c7ce5f.c1594"]]},{"id":"d6c7ce5f.c1594","type":"http request","z":"813ba150.0dc04","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/360f2b31-a49c-4926-9ca8-ebb8aba6a565/predictions","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":380,"wires":[["41d0ac8a.1fd9e4","6f80d5ce.92e4fc"]]},{"id":"41d0ac8a.1fd9e4","type":"debug","z":"813ba150.0dc04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":480,"wires":[]},{"id":"45b9c253.24110c","type":"debug","z":"813ba150.0dc04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":200,"wires":[]},{"id":"cd386108.12ebf","type":"ui_text","z":"813ba150.0dc04","group":"85ccccea.ee8ef","order":1,"width":0,"height":0,"name":"","label":"Prediction: ","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":420,"wires":[]},{"id":"6f80d5ce.92e4fc","type":"function","z":"813ba150.0dc04","name":"","func":"msg.payload=msg.payload.predictions[0].values[0]\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":300,"wires":[["45b9c253.24110c","cd386108.12ebf"]]},{"id":"85ccccea.ee8ef","type":"ui_group","z":"","name":"Fill Form","tab":"2efdf4ce.a4d35c","order":1,"disp":true,"width":"6","collapse":false},{"id":"2efdf4ce.a4d35c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]